.round_button {
    display: inline;
    letter-spacing: 3px;
    background-color: #6d6c6c;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 7px;
  }

.buttons2 {
  margin-right: 435px;
}