<!DOCTYPE html>
<html>

<head>
    
    <title>
        AER - Contact
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

{% load static %}
<link rel="stylesheet" href="{% static 'css/navig_bar.css' %}"/>
<link rel="icon" type="image/x-icon" href="{% static 'logo/icon.png' %}">
</head>

<body style="background-color:#EEEEEE;">

    <div class="navbar">
        <div class=logo><img src="{% static 'logo/logo.png' %}"></div>
            <a href="../">Home</a>
            <a href="../history">History</a>
            <a href="../help">About</a>
            <a href="../contact">Contact</a>
    </div>
<br>
<div class="page">
<div class ="main">
<div class ="title">Contact info:</div></div>
<p>Paulina Markiewicz
    student of Warsaw University of Technology
    e-mail
    social media: linkedin</p>
<div class="text">
<p>Paulina Markiewicz</p>
</div>



</div>
</div>
</div>

</body>

</html>