<!DOCTYPE html>
<html>

<head>
    <title>
        AER - Home
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
    .page {text-align: center;}

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/navig_bar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/buttons.css' %}"/>
<link rel="stylesheet" href="{% static 'css/text.css' %}"/>
<link rel="icon" type="image/x-icon" href="{% static 'logo/icon.png' %}">

<style>
    body {
      background-image: url("{% static 'images/bg2.jpg' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
</head>

<body>
    <div class="navbar">
    <div class=logo><img src="{% static 'logo/logo.png' %}"></div>
        <a href="../">Home</a>
        <a href="../history">History</a>
        <a href="../help">About</a>
        <a href="../contact">Contact</a>
</div>
<br>
<div class="page">
<div class ="main">
<div class ="title">AER</div></div>

<div class="text">
<p>Automated tool for recognizing facial emotions in both image and video file.</p> 
    <p>Recognition is achieved thanks to implementation of DAN model.</p>
</div>
<p>
<br>
<div class="buttons2" style="text-align:right">
<div class="round_button">
<a href="upload_image/" style="color: white">UPLOAD IMAGE</a></div>

<div class="round_button">
    
<a href="upload_video/" style="color: white">UPLOAD VIDEO</a></div>
</div>
<br>
</p>
</div>
</div>

<div class=footer>
<footer>
    <p>© 2022 AER®</p>
  </footer></div>


</body>

</html>
